/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Font face */
@font-face {
    font-family: 'bebas';
    src: url('../font/BebasNeue-Regular.woff')format('woff');
}

@font-face {
    font-family: 'poppins';
    src: url('../font/Poppins/Poppins-Bold.woff');
}

/* Atur Tampilan */
body {
    height: 1000px;
}

.container {
    height: 400px;

}

.container .head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1vmax;
}

.container .head img {
    width: 30vmax;
    border-radius: 20% 2% 5% 5%;
    box-shadow: 0.8vmax 0.5vmax 0.8vmax rgba(0, 0, 0, 0.3);
}

/* setting bagian head sebelah kanan navigasi */
.container .head .navinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.container .head .navinfo ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.1vmax;
    font-size: 2vmax;
    font-family: bebas;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10vmax;
}

.container .head .navinfo ul li a {
    position: relative;
    text-decoration: none;
    color: black;
}



.container .head .navinfo ul li {
    padding: 1vmax;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    box-shadow: 0vmax 1.5vmax 0.7vmax -1vmax;
    width: 8vmax;
    background-color: yellow;
    border-radius: 10% 10%;
}

.container .head .navinfo ul li:hover {
    margin-top: -1vmax;
    margin-bottom: 1vmax;
    box-shadow: 0vmax 2.5vmax 2vmax -1vmax rgba(0, 0, 0, 1);
}


.container .head .navinfo h1,
p {
    padding: 0 4vmax;
}

.container .head .navinfo h1 {
    margin-top: 10vmax;
    font-family: poppins;
    font-size: 3vmax;
}

/* Responsif */
@media screen and (max-width:800px) {
    .container .head {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 1vmax;
    }

}