/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Font face */
@font-face {
    font-family: 'bebas';
    src: url('../font/BebasNeue-Regular.woff')format('woff');
}

@font-face {
    font-family: 'poppins';
    src: url('../font/Poppins/Poppins-Bold.woff');
}

/* Atur Tampilan */

.container {
    display: flex;
    flex-direction: column;
    gap: 5vmax;
    width: 100%;
}

.container .head {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1vmax;
}

.container .head img {
    width: 30vmax;
    border-radius: 20% 2% 5% 5%;
    box-shadow: 0.8vmax 0.5vmax 0.8vmax rgba(0, 0, 0, 0.3);
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 9999;
}

.container .head img:hover {
    width: 32vmax;
    border-radius: 20% 2% 5% 5%;
    box-shadow: 0.8vmax 0.5vmax 0.8vmax rgba(0, 0, 0, 0.3);

}

/* setting bagian head sebelah kanan navigasi */
.container .head .navinfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.container .head .navinfo ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.1vmax;
    font-size: 2vmax;
    font-family: bebas;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10vmax;
}

.container .head .navinfo ul li a {
    position: relative;
    text-decoration: none;
    color: black;
}



.container .head .navinfo ul li {
    position: relative;
    padding: 1vmax;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    box-shadow: 0vmax 1.5vmax 0.7vmax -1vmax;
    width: 8vmax;
    background-color: yellow;
    border-radius: 10% 10%;
}

.container .head .navinfo ul li:hover {
    margin-top: -1vmax;
    margin-bottom: 1vmax;
    box-shadow: 0vmax 2.5vmax 2vmax -1vmax rgba(0, 0, 0, 1);
}

.perbesarspan {
    background-color: blue;
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}



.container .head .navinfo h1,
.tekshead {
    padding: 0 4vmax;

}

.container .head .navinfo h1 {
    margin-top: 10vmax;
    font-family: poppins;
    font-size: 3vmax;
    -webkit-animation-name: gesermasuk;
    animation-name: gesermasuk;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/* Setting Menu */
.container .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(251, 255, 0);
    width: 100%;
    height: 27vmax;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: start;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 1vmax 2vmax 3vmax rgba(0, 0, 0, .5);
}

/* Menu > Menu Header  */
.container .menu .menuheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 25vmax;
}

.container .menu .menuheader .menuheadertitle {
    color: black;
    font-size: 10vmax;
}

.container .menu .menuheader p {
    font-size: .8vmax;
}

.container .menu .menuheader .menuheadertitle,
p {
    padding: 1vmax;
}


.container .menu .cardflow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    width: 70%;
    height: 26vmax;
    overflow-x: scroll;
    margin-right: 1vmax;
    border-radius: 5% 5%;
}

.container .menu .cardflow ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: bottom;
    gap: 0.2vmax;
    height: 20vmax;
    width: 100vmax;
}

.container .menu .cardflow ul li {
    border: 1px solid rgb(255, 255, 255);
    background-image: url(../foto/head.jpg);
    background-position: center;
    background-size: cover;
    height: 19vmax;
    width: 15vmax;
    border-radius: 10% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-transition: .5s;
    transition: .5s;

}

.container .menu .cardflow ul li:hover {
    margin-top: -4vmax;
    z-index: 999;
}

.container .menu .cardflow ul li h2,
.teksmenu {
    margin: .5vmax 1vmax;
}

.container .menu .cardflow ul li h2 {
    font-size: .7vmax;
    font-family: cursive;
}

.container .menu .cardflow ul li .teksmenu,
h2 {
    font-size: 1vmax;
    font-family: fantasy;
    color: white;
}

/* Setting pada Card */
.container .card {
    position: relative;
    width: 100%;
    height: 40vmax;

}

.container .card span {
    display: flex;
    flex-direction: column;
    gap: 6vmax;
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 26vmax;
}

/* tempat animasinya */
.container .card span .anim1 {
    width: 5%;
    height: 20%;
    background-color: black;
    animation-name: anim;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.container .card span .anim2 {
    width: 5%;
    height: 20%;
    background-color: yellow;
    animation-name: anim2;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-iteration-count: infinite;
}

.container .card span .anim3 {
    width: 5%;
    height: 20%;
    background-color: red;
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

/* --------------------- */
.container .card .setcard {
    position: relative;
    z-index: 999;
    display: flex;
    column-gap: 9vmax;
    row-gap: 6vmax;
    margin: auto;
    width: 80%;
    height: 25vmax;
    padding: .7vmax;
    flex-wrap: wrap;
    justify-content: center;
}

.container .card .setcard li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 15vmax;
    border: 1px solid black;
    /* background-color: rgb(235, 231, 231); */
    border-radius: 10%;
    overflow: hidden;
}

.container .card .setcard li:hover h3 {
    font-size: 4vmax;
    background-color: black;
    width: 100%;
    text-align: center;
}

.container .card .setcard li h3 {
    font-size: 3vmax;
    text-shadow: 3px 4px rgb(251, 255, 0);
    transition: 1s;
}

.container .card .setcard li p {
    font-size: .8vmax;
}

.container .card .setcard li h3,
p {
    padding: 1vmax;
    text-align: justify;
}


.container footer {
    width: 100%;
    height: 40%;
    background-color: black;
}

/* Animasi untuk komponen html */
@-webkit-keyframes gesermasuk {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
    }

    50% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes gesermasuk {
    0% {
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
    }

    50% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes anim {
    0% {
        transform: translateX(0vmax);
        width: 0vmax;
        height: 0vmax;
    }

    25% {
        transform: translateX(20vmax);
        width: 5vmax;
        height: 5vmax;
        border-radius: 50%;
    }

    50% {
        transform: translateX(50vmax);
        width: 10vmax;
        height: 10vmax;
        border-radius: 50%;
    }

    75% {
        transform: translateX(75vmax);
        border-radius: 50%;
    }

    100% {
        transform: translateX(80vmax);
        border-radius: 50%;
    }

}

@keyframes anim2 {
    0% {
        transform: translateX(80vmax);
        border-top-right-radius: 20%;
    }

    25% {
        transform: translateX(75vmax);
        border-bottom-left-radius: 30%;

    }

    50% {
        transform: translateX(50vmax);
        border-top-left-radius: 20%;

    }

    75% {
        transform: translateX(25vmax);
        border-bottom-left-radius: 40%;
    }

    100% {
        transform: translateX(0vmax);
    }

}

/* Responsif */
@media screen and (max-width:800px) {
    .container .head {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 1vmax;
    }

}