* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: poopins;
    src: url(../font/Poppins/Poppins-BlackItalic.woff) format("woff");
}

/* bagian Section logintampilan */
.logintampilan {
    position: relative;
    height: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 9999;
}

.posisi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 500px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    gap: 2vmax;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    overflow: hidden;

}

.posisi h1 {
    font-family: poopins;
    padding: 2%;
    text-align: center;
    background-color: yellow;
    width: 100%;
    font-size: 2vmax;
}

.posisi .inputan {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .5vmax;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.posisi .inputan label,
input {
    font-size: 1vmax;
}

.posisi .inputan label {
    color: yellow;
    font-family: poopins;
}

.posisi .inputan input {
    height: 1.4vmax;
}

/* bagian span */
span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12vmax;
    position: absolute;
    width: 100%;
    height: 880px;
    z-index: -999;
}

span .red {
    width: 50px;
    height: 50px;
    background-color: red;
    -webkit-animation-name: redanimation;
    animation-name: redanimation;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

span .yellow {
    width: 50px;
    height: 50px;
    background-color: yellow;
    -webkit-animation-name: redanimation;
    animation-name: redanimation;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}

span .blue {
    width: 50px;
    height: 50px;
    background-color: blue;
    -webkit-animation-name: redanimation;
    animation-name: redanimation;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

span .green {
    width: 50px;
    height: 50px;
    background-color: green;
    -webkit-animation-name: redanimation;
    animation-name: redanimation;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Seting tombol */
.logintampilan .posisi .tombol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 7vmax;
}

.logintampilan .posisi .tombol button {
    font-size: 1vmax;
    padding: .2vmax .5vmax;
    margin-top: -1vmax;
}




/* Tempat animasi */
@-webkit-keyframes redanimation {
    0% {
        margin-left: 100px;
    }

    25% {
        margin-left: 75%;
        border-radius: 50%;
    }

    50% {
        margin-left: 50%;
        border-bottom-left-radius: 20%;
        border-end-end-radius: 20%;
    }

    75% {
        margin-left: 25%;
    }

    100% {
        margin-left: 0%;
    }

}




@keyframes redanimation {
    0% {
        margin-left: 100px;
    }

    25% {
        margin-left: 75%;
        border-radius: 50%;
    }

    50% {
        margin-left: 50%;
        border-bottom-left-radius: 20%;
        border-end-end-radius: 20%;
    }

    75% {
        margin-left: 25%;
    }

    100% {
        margin-left: 0%;
    }

}

.logintampilan .tombol button {
    border-top-left-radius: 30%;
    border-bottom-right-radius: 20%;
}